* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 10px;
    font-family: monospace;

}

.pantalla {
    max-width: 37.5rem; /* Maximo de pantalla */ /* por cada rem tiene son 10px  */
    margin: auto;
    
}