.img-perfil {
    width: 25rem;
    height: 30rem;
    margin: 2rem auto;
    
    
}

.img-perfil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.informacion {
    padding: 2rem 0rem;

}

.informacion  h1 {
    font-size: 2rem;
}

.informacion p {
    margin-top: 0.5rem;
    font-family: 1.4rem;
    color: black;
}
.estado{
    margin: 2rem 0rem;

    display: flex;
    align-items: center;
    gap: 1.8rem;
    font-size: 1.8rem;
    color: black;
}

.redes {
    display: flex;
    gap: 1rem;
    margin: 2rem 0rem;
}

.about{
   font-size: 1.7rem;

   width: 35%;
    height: 25%;
    border-radius: 1.5rem;
    background-color: rgb(211, 208, 208);
    margin: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    
}

.perfil-img {
   width: 57%;
    height: 25rem;
    background-color: rgb(219, 216, 216);
    margin: auto;
    margin-top: 4.3rem;
    padding: 1.3rem;

    position: relative;

    

}
.perfil-img img{
   width: 83%;
  height: 25rem;
   object-fit: cover;
   /* object-position: bottom; */
   border: 0.8rem solid rgb(255, 255, 255);

   position: absolute;
   top: -2rem;
   left: 1.8rem;

    /*  height: 50%; */

}



.Info {
    font-family: 6rem;
    color: black;
}

.info2 {
    font-family: 6rem;
    color: black;
}

.info3 {
    font-family: 6rem;
    color: black;
}

.viñetas {
    gap: 2.5rem;
    list-style-type: none;
    margin: 0;
    
    padding: 0;
    column-count: 2;
}


